.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-weight: 500;
  font-size: 1rem;
}

input.form-control {
  border: 1px solid orange;
  outline: none;
  padding: 10px 12px;
  font-size: 1rem;
  border-radius: 5px;
}

input.form-control:hover {
  border: 1px solid orange;
}
input.form-control:focus {
  border: 1px solid orange
}
